@page
@using Pages.Student
@model IndexModel
@{
    ViewData["Title"] = "Index";
}


<h1>Index page</h1>

<form method="POST">
    <input type="number" name="gpa" />
    <input type="submit" asp-page-handler="GreaterThan" value="Greater" />
    <input type="submit" asp-page-handler="LessThan" value="Less" />
</form>
<hr />
<form>
    <p>
        LastName: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].GPA)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Students) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPA)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<form>
    <a class = "btn btn-primary" asp-page="Create" role = "button">Create Student</a>
</form>